[submodule "submodules/aws-security-reference-architecture-examples"]
	path = submodules/aws-security-reference-architecture-examples
	url = https://github.com/aws-samples/aws-security-reference-architecture-examples.git
