[submodule "submodules/cfn-abi-aws-securityhub"]
	path = submodules/cfn-abi-aws-securityhub
	url = https://github.com/aws-ia/cfn-abi-aws-securityhub.git
[submodule "submodules/aws-security-reference-architecture-examples"]
	path = submodules/aws-security-reference-architecture-examples
	url = https://github.com/aws-samples/aws-security-reference-architecture-examples.git
