[en]
title = ""
weight = 1
languageName = "English"
landingPageName = "<i class='fas fa-home'></i> Home"

[[en.menu.shortcuts]]
name = '<i class="fas fa-layer-group"></i> Categories'
url = '/categories'
weight = 1

[[en.menu.shortcuts]]
name = '<i class="fas fa-tags"></i> Tags'
url = '/tags'
weight = 2
